.git
.gitignore
.gitattributes
.idea
.vscode
*.md
k8s/
Jenkinsfile*
sonar-project.properties
clickhouse/
grafana/
docker-compose.yml
mvnw*
target/classes/
target/generated-sources/
target/generated-test-sources/
target/maven-archiver/
target/maven-status/
target/surefire-reports/
target/test-classes/
target/site/
target/jacoco.exec
